*{
    margin: 0px;
    /* background-color: chocolate; */
}
#header{
    margin-top: 100x;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-image:url('../images/pizza.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding-top: 150px;
}
#header h1{
    padding-top: 120px;
}
.topnav-right {
    float: right;
    margin-right: 100px;
    font-size: 50px;
    font-family:serif ;
    font-weight: bold;
}
.Small{
    float: left;
}
.Medium{
    margin-left: 500px;
}
.Large{
    margin-left: 880px;
}
#order{
    text-align: center;
}
.contacts{
    text-align: center;
}
.call{
    margin-left: 100px;
}
.email{
    margin-left: 650px;
}